<!doctype html>
<title>FACE APP</title>

<head>
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='icon_favicon.png') }}" sizes="196x196" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='js/javascript.js') }}"></script>
    <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>

<script>
    var x = new Map([[1, 'Nữ'], [2, 'Nam']]);
    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = x.get(parseInt(slider.value));
    slider.oninput = function() {
        output.innerHTML = x.get(parseInt(this.value));
    }
</script>

<div style="text-align-last: center;"><img src="{{ url_for('static',filename='logo.png') }}"/></div>
<h1 style="text-align: -webkit-center;color:#1FB264;">Face App - AICAMP</h1>

<body style="background-color:lightgreen;">
    <form method="post" action="/" enctype="multipart/form-data" style="color: darkgoldenrod;text-align: -webkit-center;">
        <div class="file-upload">
          <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>
          <div class="image-upload-wrap">
            <input class="file-upload-input" type='file' name="fileupload" onchange="readURL(this);" accept="image/*" />
            <div class="drag-text">
              <h3>Chọn ảnh cần chuyển đổi</h3>
            </div>
          </div>
          <div class="file-upload-content">
                <img class="file-upload-image" src="#"  alt="your image" autocomplete="off" required style="color: darkgoldenrod;"/>
                <div class="image-title-wrap">
                  <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                </div>
          </div>
        </div>
        <div>
            <h3>Chọn loại sinh ảnh ngẫu nhiên hoặc trích xuất đặc trưng từ 1 ảnh khác</h3>
            <p>Ngẫu nhiên</p>
            <input type="radio" checked="checked" name="type" id="1" value="1">
            <p>Tùy chọn</p>
            <input type="radio" name="type" id="2" value="2">
        </div>
        <div class="file-upload">
            <script>
            function readURL1(input) {
                  if (input.files && input.files[0]) {

                    var reader = new FileReader();

                    reader.onload = function(e) {
                      $('.image-upload-wrap1').hide();

                      $('.file-upload-image1').attr('src', e.target.result);
                      $('.file-upload-content1').show();

                      $('.image-title1').html(input.files[0].name);
                    };

                    reader.readAsDataURL(input.files[0]);

                  } else {
                    removeUpload();
                  }
            }

            function removeUpload1() {
                  $('.file-upload-input1').replaceWith($('.file-upload-input1').clone());
                  $('.file-upload-content1').hide();
                  $('.file-upload-image1').attr('src', "#");
                  $('.file-upload-input1').val("");
                  $('.image-upload-wrap1').show();
            }
            $('.image-upload-wrap1').bind('dragover', function () {
                        $('.image-upload-wrap1').addClass('image-dropping');
                    });
                    $('.image-upload-wrap1').bind('dragleave', function () {
                        $('.image-upload-wrap1').removeClass('image-dropping');
            });
            </script>
            <style>
                .file-upload-btn1 {
                width: 100%;
                margin: 0;
                color: #fff;
                background: #1FB264;
                border: none;
                padding: 10px;
                border-radius: 4px;
                border-bottom: 4px solid #15824B;
                transition: all .2s ease;
                outline: none;
                text-transform: uppercase;
                font-weight: 700;
                }
                .file-upload-btn1:hover {
                background: #1AA059;
                color: #ffffff;
                transition: all .2s ease;
                cursor: pointer;
                }
                .file-upload-btn1:active {
                border: 0;
                transition: all .2s ease;
                }
                .file-upload-content1 {
                display: none;
                text-align: center;
                }
                .file-upload-input1 {
                position: absolute;
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                outline: none;
                opacity: 0;
                cursor: pointer;
                }
                .image-upload-wrap1 {
                margin-top: 20px;
                border: 4px dashed #1FB264;
                position: relative;
                }
                .image-dropping1,
                .image-upload-wrap1:hover {
                background-color: #1FB264;
                border: 4px dashed #ffffff;
                }
                .image-title-wrap1 {
                padding: 0 15px 15px 15px;
                color: #222;
                }
                .drag-text1 {
                text-align: center;
                }
                .drag-text1 h3 {
                font-weight: 100;
                text-transform: uppercase;
                color: #15824B;
                padding: 60px 0;
                }
                .file-upload-image1 {
                max-height: 400px;
                max-width: 400px;
                margin: auto;
                padding: 20px;
                }
                .remove-image1 {
                width: 200px;
                margin: 0;
                color: #fff;
                background: #cd4535;
                border: none;
                padding: 10px;
                border-radius: 4px;
                border-bottom: 4px solid #b02818;
                transition: all .2s ease;
                outline: none;
                text-transform: uppercase;
                font-weight: 700;
                }
                .remove-image1:hover {
                background: #c13b2a;
                color: #ffffff;
                transition: all .2s ease;
                cursor: pointer;
                }
                .remove-image1:active {
                border: 0;
                transition: all .2s ease;
                }
            </style>
          <button class="file-upload-btn1" type="button" onclick="$('.file-upload-input1').trigger( 'click' )">Add Image</button>
          <div class="image-upload-wrap1">
            <input class="file-upload-input1" type='file' name="fileupload1" onchange="readURL1(this);" accept="image/*" />
            <div class="drag-text">
              <h3>Chọn ảnh tham chiếu</h3>
            </div>
          </div>
          <div class="file-upload-content1">
                <img class="file-upload-image1" src="#"  alt="your image" autocomplete="off" required style="color: darkgoldenrod;"/>
                <div class="image-title-wrap1">
                  <button type="button" onclick="removeUpload1()" class="remove-image">Remove <span class="image-title1">Uploaded Image</span></button>
                </div>
          </div>
        </div>
    <hr>

        <h4 style="text-align: -webkit-center;">Chọn Nam or Nữ</h4>
        {% if type %}
            <div class="slidecontainer">
                <input type="range" min="1" max="2" value="{{type}}" class="slider" id="myRange" name="type_face">
                <p>Loại: <span id="demo"></span></p>
            </div>
        {% else %}
            <div class="slidecontainer">
                <input type="range" min="1" max="2" value="1" class="slider" id="myRange" name="type_face">
                <p>Loại: <span id="demo">Nữ</span></p>
            </div>
        {% endif %}
        <script>
            var x = new Map([[1, 'Nữ'], [2, 'Nam']]);
            var slider = document.getElementById("myRange");
            var output = document.getElementById("demo");
            output.innerHTML = x.get(parseInt(slider.value));
            slider.oninput = function() {
                output.innerHTML = x.get(parseInt(this.value));
            }
        </script>
        <div style="text-align: -webkit-center;">
            <p>
                <b><input type="submit" value="Xử lý" style="width: 100px;height: 40px;border-radius: 10px;background: #1FB264;color:white; font-weight: 600;"></b>
            </p>
        </div>
    </form>
    <div style="text-align: -webkit-center;">
    {% if image %}
        <b><p style="color: red">Ảnh gốc :</p></b>
        <img  src="{{ image }}" style="border-radius: 8px;"/>
    {% endif %}
    {% if predict_img %}
        <b><p style="color: red">Kết quả :</p></b>
        <img  src="{{ predict_img }}" style="border-radius: 8px;"/>
    {% endif %}
    </div>
    <footer class="new_footer_area bg_color" style="text-align: -webkit-center;">
            <div class="new_footer_top" style="background-color:lightgreen;">
                <div class="footer_bg">
                    <div class="footer_bg_one"></div>
                    <div class="footer_bg_two"></div>
                </div>
            </div>
            <div class="footer_bottom" style="background: #1FB264;">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-sm-7">
                            <p class="mb-0 f_400" style="color: white">©Bản quyền thuộc AICAMP</p>
                            <p style="color: white">designed by<i class="icon_heart"></i> in <a href="#">MinhPN13</a></p>
                        </div>
                    </div>
                </div>
            </div>
    </footer>
</body>